Viewing 1 / {{model.length}}
{{outlet}}

<ul class="pug-list">
  {{#each pug in model}}<li><img {{bind-attr src=pug.url alt=put.title}} /></li>{{/each}}
</ul>

<a href="#">Skip</a>
<a href="#">Add to cart</a>
